// @if

$type: 2;

.one {
  @if $type == 1 {
    color: yellow;
    font-size: 20px;
  } @else if $type == 2 {
    color: blue;
    font-size: 30px;
  } @else if $type == 3 {
    color: green;
    background: yellow;
  } @else {
    color: #000;
  }
}
